**/.DS_Store
.DS_Store
/node_modules
/build
/prefixed/vendor
composer.lock
composer.phar
.phpunit.result.cache

# Εξαιρέσεις για το autoload
!/prefixed/vendor/autoload.php
!/prefixed/vendor/composer/autoload_*